//variables
$color-white: #fff;
$color-grey: #636b6f;

html, body {
    background-color: $color-white;
    color: $color-grey;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-end {
    align-self: flex-end;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    flex-grow:1;
    text-align: center;
    color: $color-grey;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-none {
    margin: 0;
}

.m-sm {
    margin: 5px;
}

.m-b-md {
    margin-bottom: 30px;
}
