@import 'ps_variables';

body {
  background-color: $ps-black;
}

label {
  color: $ps-green;
}

.ps-card-link, .ps-card-link:hover {
  color: $ps-darkgrey;
  text-decoration: none;
}

.ps-bg-content {
  background-color: $ps-darkgrey;
}

.card {
  background-color: $ps-darkgrey;
  border: 1px solid $ps-green;
}

.card-header {
  background-color: $ps-green;
}

.dropdown-menu {
  background-color: $ps-darkgrey;
}

.dropdown-item {
  color: $ps-green;
}

.dropdown-item:hover {
  background-color: $ps-green;
  color: $ps-black;
}

.navbar {
  background-color: $ps-black;
  border-bottom: 2px solid $ps-darkgrey;
}

.navbar-collapse .show {
  background-color: $ps-darkgrey;
}

.navbar-brand, .nav-link {
  color: $ps-green !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(186, 218, 85, 0.8)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.ps-btn, .ps-btn-tag{
    color: $ps-black;
    background: $ps-green;
}

.ps-btn-tag {
  border: 1px solid $ps-green;
  border-radius: 25px;
}

.ps-text-welcome {
  font-size: 3rem;
  color: $ps-green;
}

.ps-text-green {
  color: $ps-green;
}
