body {
  background-color: #000000;
}

label {
  color: #bada55;
}

.ps-card-link,
.ps-card-link:hover {
  color: #333333;
  text-decoration: none;
}

.ps-bg-content {
  background-color: #333333;
}

.card {
  background-color: #333333;
  border: 1px solid #bada55;
}

.card-header {
  background-color: #bada55;
}

.dropdown-menu {
  background-color: #333333;
}

.dropdown-item {
  color: #bada55;
}

.dropdown-item:hover {
  background-color: #bada55;
  color: #000000;
}

.navbar {
  background-color: #000000;
  border-bottom: 2px solid #333333;
}

.navbar-collapse .show {
  background-color: #333333;
}

.navbar-brand,
.nav-link {
  color: #bada55 !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(186, 218, 85, 0.8)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.ps-btn,
.ps-btn-tag {
  color: #000000;
  background: #bada55;
}

.ps-btn-tag {
  border: 1px solid #bada55;
  border-radius: 25px;
}

.ps-text-welcome {
  font-size: 3rem;
  color: #bada55;
}

.ps-text-green {
  color: #bada55;
}

